.partners {
  .container {
    justify-content: center;
    padding-top: 108px;
    padding-bottom: 85px;
  }

  .head {
    display: flex;
    justify-content: space-between;
    width: 35%;
    margin: 0 auto;
    height: 45px;
  }

  .bottom {
    display: flex;
    justify-content: space-between;
    height: 45px;
    margin-top: 97px;
  }

  .wrapper-swanser,
  .wrapper-infinity {
    line-height: 53px;
  }
}

.contacts {
  background-image: url("../../img/form-and-partners/background.jpg");

  .container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-top: 100px;
    padding-bottom: 92px;
  }

  .form,
  .info-and-map {
    display: flex;
    flex-direction: column;
    background-color: #425560;
    opacity: 0.7;
  }

  .form {
    width: 49%;
    padding: 50px 30px 40px 30px;
  }

  .name,
  .email,
  .subject,
  .message {
    height: 30px;
    margin-top: 30px;
    padding: 0;
    padding-bottom: 5px;
    font-family: "Raleway", "myriad-reg", sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #fff;
    opacity: 0.8;
    background: inherit;
    border: none;
    border-bottom: 2px solid #fff;
  }

  .name {
    margin-top: 0;
  }

  .message {
    height: 88px;
    padding: 0;
    resize: none;
  }

  .btn-submit {
    max-width: 245px;
    max-height: 54px;
    margin-top: 30px;
    padding: 20px 37px;
    font-family: "Montserrat", "myriad-reg", sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #000;
    opacity: 0.7;
    background-color: #6EEEE4;
    border: none;
    box-sizing: border-box;
  }

  .btn-submit:hover {
    background-color: #0f726a;
    cursor: pointer;
    color: #fff;
    opacity: 1;
  }

  .info-and-map {
    width: 40%;
    padding: 37px 23px 20px 23px;
    text-align: left;
  }

  .phone-and-email {
    width: 80%;

  }

  p {
    margin: 0;
    font-family: "Raleway", "myriad-reg", sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    white-space: pre-line;
    line-height: 1.5;
    opacity: 0.7;
  }

  p:nth-child(2) {
    margin-top: 28px;
  }

  .map {
    margin-top: 24px;
  }

}